@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/Image/Mountain-black.jpg);
  background-position: center;
  background-size: cover;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(60, 53, 202) 0%,
    rgba(219, 69, 199, 0.774) 36%,
    rgba(193, 38, 180, 0.655) 86%
  ); */
  background-color: #112d4e;
  font-family: "Lato", sans-serif;
  color: white;
  /* display: grid; */
  display: grid;
  align-items: center;
  justify-content: center;
}
.card-wrapper {
  /* background-color: crimson; */
  margin: 100px auto;

  max-width: 700px;
  min-height: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
    -5px -5px 15px rgba(255, 255, 255, 0.2);
  background: linear-gradient(90deg, #ff2e63, transparent);
  position: relative;
}

.card-image {
  height: 400px;
  width: 600px;
  cursor: pointer;
}
.card-image img {
  margin-top: 40px;
  transition: transform 0.5s;
}
.card-image:hover img {
  /* transform: scale(1.2); */
  transform: skew(12deg);
}

.card-details h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  /* margin-bottom: 5px; */
}
.card-details {
  text-align: center;
}
.card-details p {
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 500;
}
.card-details a {
  text-decoration: none;
  padding: 10px;
  margin-top: 2px;
  display: inline-block;
  text-transform: uppercase;
}

#price {
  font-size: 2em;
  font-weight: 600;
  padding: 14px;
}

#compare {
  background-color: white;
  padding: 6px 14px;
  border-radius: 2px;
  color: black;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s;
}
#compare:hover {
  background-color: rgba(255, 255, 255, 0.859);
  letter-spacing: 1.9px;
}
#details {
  background-color: white;
  padding: 6px 14px;
  margin-left: 5px;
  border-radius: 2px;
  color: black;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.5s;
}
#details:hover {
  background-color: rgba(255, 255, 255, 0.849);
  letter-spacing: 1.9px;
}
#add {
  background-color: gold;
  padding: 6px 14px;
  margin-left: 5px;
  border-radius: 2px;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
#add:hover {
  background-color: rgb(208, 179, 17);
}
